<div class="normales">	
<h3>We are a mail order discount supplier of boat building materials. We supply Epoxy, Resin, Fiberglass, and other Composite Materials.</h3>

<p>We have been in business 18 years and specialize in giving personal service. Call us and we are happy to thoroughly discuss your project so that you can select the best products for your job.   Phone 772-489-4070  Mon. to Fri.  8 AM to 6 PM.
</p>

</div>