<div class="normales">
	<h3>For information regarding ordering or have a question, please
	telephone <b>772.489.4070</b></h3>
	<p>If you would like to contact us by FAX, please dial <b>772.461.2070</b>.</p>
	<h4>ALL PRICES AT THIS SITE ARE SUBJECT TO CHANGE WITHOUT NOTIFICATION</h4>

	<h3>Email: <%= mail_to "larry@raka.com" %></h3>
</div>