<div class="normales">
	<h3>For information regarding ordering or have a question, please
	telephone <b>772.489.4070</b></h3>
	<p>If you would like to contact us by FAX, please dial <b>772.461.2070</b>.</p>
	<h4>ALL PRICES AT THIS SITE ARE SUBJECT TO CHANGE WITHOUT NOTIFICATION</h4>

	<h3>Email: <%= mail_to "larry@raka.com" %></h3>
	<iframe width="425" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Raka+Inc,+Oleander+Avenue,+Fort+Pierce,+Florida,+Estados+Unidos&amp;aq=0&amp;oq=raka+inc&amp;sll=27.39795,-80.333681&amp;sspn=0.006754,0.010664&amp;g=3490+Oleander+Ave+Fort+Pierce+34982&amp;ie=UTF8&amp;hq=Raka+Inc,&amp;hnear=Oleander+Ave,+Fort+Pierce,+Florida&amp;t=m&amp;ll=27.399908,-80.333812&amp;spn=0.008573,0.009098&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Raka+Inc,+Oleander+Avenue,+Fort+Pierce,+Florida,+Estados+Unidos&amp;aq=0&amp;oq=raka+inc&amp;sll=27.39795,-80.333681&amp;sspn=0.006754,0.010664&amp;g=3490+Oleander+Ave+Fort+Pierce+34982&amp;ie=UTF8&amp;hq=Raka+Inc,&amp;hnear=Oleander+Ave,+Fort+Pierce,+Florida&amp;t=m&amp;ll=27.399908,-80.333812&amp;spn=0.008573,0.009098&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">google maps</a></small>
</div>