
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Chela+One|Anaheim);

/* MIXINS IMPORTS */
@mixin transiciones{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


/* APPLICATION GENERAL LAYOUT */
body{
	background: url(noise.png);
	.alert{
		text-align: center;
	}	
}
.cuerpaso{
	background-color: rgba(0, 110, 251, .3);
}

	/* PAGE HEADER */
.page-header{
	font-family: 'Chela One';	
	padding: 60px 0 50px 0;
	text-align: center;
	background: url(back_header.jpg) no-repeat;
	background-size:100% 200px;
	h1{
		font-size: 5em;
		letter-spacing: 5px;
		text-shadow: 0 4px 15px rgb(10,190,250);
		color: rgb(60,120,140);
	}
}

	/* SPAN 11 */
.span11{
	box-shadow: 0 0 15px $black;
	border-radius: 10px;	
	word-wrap: break-word;
	text-align: center;
	padding-bottom: 60px;	
	background-color: rgba(60,60,150,.1);
}

	/* NAVBAR TOP  x ID*/
#navegacion{	
	a{	
		padding: 15px;
		color: $blue;
		@include transiciones;
	}
	a:hover{
		color: $white;
		@include transiciones;
	}
	#nav_precio{
		color: rgb(10,250,10);
		font-weight: bold;
		letter-spacing: 2px;
	}

}

/* NAV IZQUIERDA */
nav.span3{	
	#accordion2{
	background-color: $grayLighter;
	}	
	.accordion-heading{
		a{	
			background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blue), to(#2F96B4));
			border-radius: 5px;			
			color: $white;
			text-shadow: 0 1px $black;
			text-decoration: none;
			font-weight: bold;
			@include transiciones;
		}
	}
	.accordion-heading:hover{	
		a{
			background-color: rgba(180,210,250,.8);
			background-image: none;
			color: $black;
			text-shadow: 0 0 1px $black;
			@include transiciones;			
		}		
	}
	.accordion-inner ul{		
		list-style-type: none;
		margin: 5px;
		li{
			padding-left: 20px;
			background: url(anchor-2.jpg) no-repeat 0px 0px; 
		}
	}
}


/* FIN APLICATION GENERAL LAYOUT */


/* carousel */
#myCarousel{
	display: block;
	margin-top: 20px;
}

/* IMAGENES INDEX */


/* ARRRAY DE PRODUCTOS EN CATEGORIA/INDEX */
#motrar_product{
	display: inline-block;	
	margin-top: 20px;	
	.product{
		text-align: center;
		display: block;
		float: left;
		font-size: 1em;		
		background-color: white;	
		width: 250px;	
		height: 350px;
		margin: 15px 15px 35px 15px;
		word-wrap: break-word;
		line-height: 10px;
		padding-bottom: 15px;
		border-radius: 10px;
		@include transiciones;
		h3{
			font-family: 'Anaheim', sans-serif;
			font-size: 1.6em;
			color: $blue;
			line-height: 20px;
			border-bottom: 1px solid gray;
			padding-bottom: 10px;
			text-shadow: 0 1px black;
			@include transiciones;
		}		
		img{			
			margin-top: 10px;			
			max-width: 200px;
			max-height: 150px;
			padding: 10px;			
		}	
		b{
			color: $green;
		}
		p{	
			margin: 5px;
			padding-top: 32px !important;
			width: 84px;
			height: 52px;	
			letter-spacing: -1px;
			color: $white;	
			background: url('precio.png') no-repeat, #2F96B4;			
			display: block;
			background-position: center;
			font-size: 24px !important;
			text-indent: -3px !important;
			-webkit-border-radius: 60px;
			border-radius: 60px;
			border: 1px solid white;
		}
		.link{
			margin: 15px 25px 5px 5px;
			a{
				text-align: left;
				margin: 5px;
				display: block;
			}
		}
	}
	.product:hover{
		background: $white;
		box-shadow: 0 0 14px black;
		text-shadow: 0 1px black;
		h3{
			text-shadow: 0 1px black;
			color: $gray;
			@include transiciones;
		}
		img{
			background-color: white;
		}
		
		@include transiciones;
	}
}




/* CARRUSEL */
#myCarousel{
	box-shadow: 0 0 25px black;
	width: 800px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	img{
		width: 800px;
		height: 450px;
	}
	.carousel-caption{
		h3{
			color: $blue;
		}
	}
}

/* SHOW SINGLE PRODUCT PRODUCT#SHOW */
#single_product{
	padding: 20px 20px 40px 20px;
	img{
		padding: 10px;
		display: inline-block;
		max-width: 250px;
		max-height: 200px;
		background-color: white;
		margin-right: 40px;
		@include transiciones;
	}
	img:hover{
		box-shadow: 0 0 5px $black;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		transform: scale(1.2);
		@include transiciones;
	}
	h2{
		color: $blue;
		display: inline-block;
		padding: 15px;
	}
	p{
		margin-top: 40px;
		font-size: 1.2em;
		b{
			color: $green;
		}
	}
	.forumalrio{		
		display: inline-block;
		label{
			padding: 10px;
			font-size: 1em;
		}
		#product{
			color: $black;
		}
		#product:focus{
			border-color: none;
		}
	}
}

.normales{
	background-color: rgba(250,240,250,0);
	padding: 40px;
	p{
		text-align: left;
		font-size: 1.2em;
		letter-spacing: 2px;
		line-height: 1.4em;
	}
}


/* COMMENTS LIST */

.comment_list{
	margin: 15px;	
	border-radius: 10px;
	text-align: left;
	.horario{		
		word-wrap: break-word;
	}
	.tiempo{
		padding-top: 30px;
		vertical-align: bottom;
		color: $blue;
		text-shadow: 0 1px $black;
		font-weight: bold;
	}
	.comment{		
		border-bottom: 1px solid $blue;
		b{
			vertical-align: middle;
			padding-right: 4px;
		}
		h3{			
			font-size: 1.1em;
			color: $black;
			text-shadow: 0 0px 1px $blue;
			margin-left: 170px;			
		}				
		.cuerpo{
			border-left: 3px solid $blue;			
			word-wrap: break-word;
			letter-spacing: 2px;
			text-shadow: 0 1px black;
			padding: 20px;
			margin-bottom: 20px;
			p{
				background-color: #E3E3E3;				
				border-radius: 20px;
				padding: 20px;
			}
		}
	}
}
.comment_form{
	h2{
		text-shadow: 0 0 3px $gray;
	}
	textarea{
		background-color: #FAFFBD;
		width: 400px;
		height: 150px;
	}
}
.verde{
	color: $green;
}
.cantidad{
	width: 40px;
	text-align: right;
}
td.quantity{
	text-align: center;
}
th.quantity{
	text-align: center;
}
#order{
	width: 90%;
	margin: 40px 0 40px 40px;
	padding: 10px;
}
.footer{
	background-color: rgba(0, 0, 0, 0.85);
	border-top: 1px solid $white;
	padding: 20px 20px 20px 100px;
	margin: 20px 0 0 0;
	list-style-type: none;	
	ul{
		list-style-type: none;
		display: inline;
	}
	li{
		display: inline;

	}
	
	a{
		
		margin: 0px 15px 0 5px;
		color: white;
	}
	#div_image{
		margin-left: 10%;
		margin-right: 10%;
		display: inline-block;
		background-image: url(anchor-1.jpg);
		height: 300px;
		width: 300px;
		border-radius: 150px;
		vertical-align: middle;
	}
}