<div id="motrar_product">
	<% @products.each do |f| %>
		<div class="product">
			<%= image_tag(f.imagen_url) %>
			<h3><%= f.titulo %></h3>
			<p>Price: <b> <%= number_to_currency(f.precio, presicion:2) %></b></p>
			<%= link_to "More info.", product_path(f.id), class: "btn btn-info" %>
		</div>		
	<% end %>
</div>