<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<%= image_tag('carousel/image-1.png') %>
    	<div class="carousel-caption">    		
    		<h1>Slip-ring Anchor 13lbs</h1>
    		<p>Price: $18.95</p>
    	</div>
    </div>
    <div class="item">
    	<%= image_tag('carousel/image-2.png') %>
    	<div class="carousel-caption">    		
    		<h1>Anchor Line 3/8" x 35' Braided</h1>
    		<p>Price: $7.95</p>
    	</div>
    </div>
    <div class="item">
    	<%= image_tag('carousel/image-4.png') %>
    	<div class="carousel-caption">    		
    		<h1>1400lb Winch With Strap</h1>
    		<p>Price: $45.95</p>
    	</div>

    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>