<div class="well accordion" id="accordion2">
  <% @categoria.each do |f| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" 
        data-parent="#accordion2" href="#collapse<%= f.id %>">
          <%= f.category.titleize %>
        </a>
      </div>
      <% unless f.subcategories.empty? %>
        <div id="collapse<%= f.id %>" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul>
              <% f.subcategories.each do |i| %>
                <li><%= link_to i.sub_category, category_path(i) %></li>
              <% end %>            
            </ul>
          </div>
        </div>
      <% end %>
    </div>    
  <% end %>  
</div>